body{
    background-color: #ecebeb;
}

h1{
    margin: 20px;
    text-align: center; /* Centra el texto del párrafo */
    font-size: 36px;
  }

  .titulo {
    display: inline-block;
    width: 96.5%; /* Establece el ancho*/
    height: 80px;
    margin: 20px;
    background-color:#371a01;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
    vertical-align: top; /* Alineación vertical en la parte superior */
    box-shadow: 5px 5px 5px black;
    font-family: monospace;
}

.tabla-izquierda {
	float: left;
	width: 40%;
    margin-left: 7%;
}

.tabla-derecha {
	float: right;
	width: 40%;
}

table {
	border-collapse: collapse;
	width: 80%;
    border-style: solid;
    box-shadow: 5px 5px 5px black;
}

th{
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
    transition-duration: 0.4s; /* duración de la transición */
}

td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
    transition-duration: 0.4s; /* duración de la transición */
}

td:hover {
    background-color: #d99715; /* color de fondo al pasar el cursor */
  }

th {
	background-color: #f2f2f2;
	color: #333;
}