body{
    background-color: rgb(255, 255, 255);
}


.Titulo{
    color: white;
    display: inline-block;
    width: 96.5%; /* Establece el ancho deseado */
    height: 40px;
    margin: 20px;
    background-color:#110137;
    text-align: center;
    border-radius: 10px;
    vertical-align: top; /* Alineación vertical en la parte superior */
    box-shadow: 5px 5px 5px black;
    font-family: monospace;
    
}

.boton {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    }
    

.dropdown li a:hover {
    background-color: #110137;
    color: white;

}
.dropdown > li {
    float:left ;
}
.dropdown li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.dropdown li:hover > ul{
    display: block;
}
  * {
    padding:0px;
    margin:0px;
}
#header{
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
ul, ol {
    list-style:none;

}

.dropdown li a{
    background-color: #ffffff;
    color: black;
    text-decoration:none;
    padding: 10px 15px;
    display: block;

}

.dropdown li ul li{
    position: relative;
}

.dropdown li ul li ul{
    right: -140px;
    top: 0px;
}



.dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color:#110137;
}


