body {
  background-color: #f2f2f2;
}

p {
  margin: 20px;
  text-align: center; /* Centra el texto del párrafo */
}

h1 {
  margin: 20px;
  text-align: center; /* Centra el texto del párrafo */
  font-size: 36px;
  color: #fff;
}

.titulo {
  display: inline-block;
  width: 96.5%; /* Establece el ancho*/
  height: 80px;
  margin: 20px;
  background-color: #004d80;
  text-align: center;
  border-radius: 10px;
  vertical-align: top; /* Alineación vertical en la parte superior */
  box-shadow: 5px 5px 5px black;
  font-family: monospace;
}

.inicio {
  display: inline-block;
  width: 96.5%; /* Establece el ancho deseado */
  height: 130px;
  margin: 20px;
  background-color: #004d80;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  vertical-align: top; /* Alineación vertical en la parte superior */
  box-shadow: 5px 5px 5px black;
  font-family: Arial, Helvetica, sans-serif;
}

.cuadrado {
  display: inline-block;
  width: 30%; /* Establece el ancho deseado */
  height: 200px;
  margin: 20px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  vertical-align: top; /* Alineación vertical en la parte superior */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition-duration: 0.4s; /* duración de la transición */
  font-family: Arial, Helvetica, sans-serif;
}

.cuadrado:hover {
  background-color: #004d8093; /* color de fondo al pasar el cursor */
}

.cuadrado2 {
  display: inline-block;
  width: 30%; /* Establece el ancho deseado */
  height: 200px;
  margin: 20px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  vertical-align: top; /* Alineación vertical en la parte superior */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition-duration: 0.4s; /* duración de la transición */
  font-family: Arial, Helvetica, sans-serif;
}

.cuadrado2:hover {
  background-color: #004d8093; /* color de fondo al pasar el cursor */
}

.frase {
  background-color: #004d80;
  color: white;
  text-align: center;
  width: 96.5%; /* Establece el ancho deseado */
  height: 100px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-family: Arial, Helvetica, sans-serif;
}

.cuadrado img {
  width: 110px; /* Cambiar ancho*/
  height: auto; /* Esto asegura que la imagen se redimensione proporcionalmente */
}

.cuadrado2 img {
  width: 105px; /* Cambiar ancho */
  height: auto; /* Esto asegura que la imagen se redimensione proporcionalmente */
}
